<div class="card">
    <div class="text-center mt-2">
        <h5 class="card-title fs-4">PART I - ACCOUNT OF VOTES RFCORDED</h5>
    </div>
    <div class="card-body">

        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Name of
                Constituency</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>


        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-4 col-form-label">Number and Name of Polling Station:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>


        <label for="inputPassword3" class="mb-2">Identihication Number of voting Machine
            used at the Polling Station:</label>
        <div class="row mb-4 ">
            <label for="inputPassword3" class="col-sm-4 col-form-label ps-5">Control Unit</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-4 ">
            <label for="inputPassword3" class="col-sm-4 col-form-label ps-5">Control Unit</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-4">
            <label for="inputPassword3" class="col-sm-4 col-form-label ps-5">Ballot Unit</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-4 col-form-label ps-5">VVPAT</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>


        <div class="row mb-4">
            <label for="inputPassword3" class="col-sm-8 col-form-label ps-5"><span class="fw-bold">1. </span>Total
                number of clectors assigned to the Polling Station</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-4">
            <label for="inputPassword3" class="col-sm-8 col-form-label ps-5"><span class="fw-bold">2. </span>Total
                number of voters as cntered in the Register for Voters (Form 17A)</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-4">
            <label for="inputPassword3" class="col-sm-8 col-form-label ps-5"><span class="fw-bold">3. </span>Number of
                voters deciding not to record votes under rule 49-O</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-4">
            <label for="inputPassword3" class="col-sm-8 col-form-label ps-5"><span class="fw-bold">4. </span>Number of
                voters not allowed to vote under rule 49M</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-8 col-form-label ps-5"><span class="fw-bold">5. </span>Test votes
                recorded under rule 49MA (d) required to be deducted-</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-sm-12">
                <label for="inputNanme4" class="form-label mb-2"><span class="fw-bold">( a )</span> Total number of test votes to be deducted:</label>
            </div>
        </div>
        <div class="row text-center mb-4">
            <div class="col-4">
                <label for="inputNanme4" class="form-label">Total No.</label>
                <input type="text" class="form-control" id="inputNanme4">
            </div>
            <div class="col-4">
                <label for="inputNanme4" class="form-label">SI. No.(s) of elector (s) in Form 17A</label>
                <input type="text" class="form-control" id="inputNanme4">
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-sm-8">
                <label for="inputNanme4" class="form-label mb-2"><span class="fw-bold">( b )</span> Candidate(s) for whom test vote(s) cast:</label>
            </div>
        </div>
        <div class="row text-center mb-5">
            <div class="col-4">
                <label for="inputNanme4" class="form-label">SI. No.</label>
                <input type="number" class="form-control" id="inputNanme4">
            </div>
            <div class="col-4">
                <label for="inputNanme4" class="form-label">Name of candidate</label>
                <input type="text" class="form-control" id="inputNanme4">
            </div>
            <div class="col-4">
                <label for="inputNanme4" class="form-label">No. of votes</label>
                <input type="number" class="form-control" id="inputNanme4">
            </div>
        </div>


        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-8 col-form-label">Total number of votes recorded as per voting machine</label>
            <div class="col-sm-4 my-auto">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-8 col-form-label">Whether the total number of votes as shown against item 6 tallies with the total number of votes as shown against item 2 minus numbers of voters deciding not to record votes as against item 3 minus number of vote as against item 4(i.c. 2-3-4) or any discrepancy noticed</label>
            <div class="col-sm-4 my-auto">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>

        <div class="row mb-5">
            <label for="inputPassword3" class="col-sm-8 col-form-label">Number of voters to whorn tendered Ballot papers were issued under rule 49P</label>
            <div class="col-sm-4 my-auto">
                <input type="number" class="form-control" id="inputPassword4" autocomplete="off" />
            </div>
        </div>



        
    </div>
</div>