<!-- <div class="container bg-light">


  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>

  <button type="button" class="btn btn-link">Link</button>

  <div class="input-group my-3 py-2">
    <span class="input-group-text" id="basic-addon1">+91</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="row">
    <div class="col">

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label ">Example label</label>
        <input (focus)="onFocus($event)" (keyup)="checkCapsLock($event)" type="text" class="form-control py-2" id="formGroupExampleInput" placeholder="Example input placeholder" autocomplete="off"/>

      </div>
      <p *ngIf="isCapsLockOn" style="color: red;">Caps Lock is ON</p>
    </div>
    <div class="col">

      
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder" value="hello" readonly>
      </div>
    </div>
  </div>
</div>


<ngb-timepicker [(ngModel)]="time" [seconds]="false" select
    ></ngb-timepicker>
 -->

<router-outlet></router-outlet>