<div class="row">
    <div class="col-6">
        <nav class="mb-5">
            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill " role="presentation" routerLink="/dashboard/file-upload">
                    <button class="nav-link w-100 bg-light p-2" id="contact-tab" type="button" role="tab"
                        aria-controls="contact" aria-selected="false" routerLinkActive="active">Upload</button>
                </li>
                <li class="nav-item flex-fill" role="presentation" routerLink="/dashboard/preview">
                    <button class="nav-link w-100 bg-light p-2" id="home-tab" type="button" role="tab"
                        aria-controls="home" aria-selected="true" routerLinkActive="active">Form 1</button>
                </li>
                <li class="nav-item flex-fill" role="presentation" routerLink="/dashboard/vote-record">
                    <button class="nav-link w-100 bg-light p-2" id="profile-tab" type="button" role="tab"
                        aria-controls="profile" aria-selected="false" routerLinkActive="active">Form 2</button>
                </li>
            </ul>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>